div .heading{
    margin-top: 10000px;
}

h1 {
    text-align: center;
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    background-image: url("../images/pattern.jpeg");
}

#brushes {
    background-color: mediumspringgreen;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;

}

#frames {
    background-color: lightcoral;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;

}

#paint {
    background-color: skyblue;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;

}

.highlight {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;

}